* {
	font-family:helvetica, Arial;
}
.deskNote {
    background-color: rgb(255, 240, 70);
    height: 250px;
    padding: 10px;
    position: relative;
    width: 200px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.noteTimeStamp {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 9px;
    background-color: #db0;
    color: white;
    border-top: 1px solid #a80;
    padding: 2px 4px;
    text-align: right;
}
.noteCloseButton {
    display: none;
    background-image: url(/public/images/close.png);
    height: 30px;
    position: absolute;
    left: 210px;
    top: 1px;
    width: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.deskNote:hover .noteCloseButton {
    display: block;
}

.unSelectedNoteContainer {
	display: none;
}

.deskContainer{
	float:left;
	width:20%;
	height:100%;
	border-right:1px solid #000000;
}

.notesContainer{
	float:right;
	width:79%;
}
.deskDescription{
	display:none;
}
.userDesks{
	margin-left:10px;
	height:540px;
}
.selectedDesk{
	font-size: large;
	color:blue;
}
.deskDetails{
	cursor: pointer;
	margin-bottom:5px;
}