* {
    font-family: helvetica, Arial;
}

.deskNote {
    background: url("/public/images/note_corner.png") no-repeat scroll 100% 100% #FFFFE0;
    height: 250px;
    padding: 10px;
    position: relative;
    width: 200px;
    float:left;
    margin:10px;
    -webkit-box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.5 );
    -moz-box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.5 );
    box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.5 );
}

.noteTimeStamp {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 9px;
    background-color: #db0;
    color: white;
    border-top: 1px solid #a80;
    padding: 2px 4px;
    text-align: right;
}

.noteCloseButton {
    display: none;
    background-image: url(/public/images/actions.png);
    background-position : -3px -160px;
    height: 30px;
    position: absolute;
    left: 210px;
    top: 1px;
    width: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.deskNote:hover .noteCloseButton {
    display: block;
}

.unSelectedNoteContainer {
    display: none;
}

.deskContainer {
    width: 225px;
    height: 300px;
    border: 1px solid #000000;
    float:left;
}

#deskContainerHeader {
    height: 25px;
    color: #000;
    border-bottom: 1px solid #000;
}

.notesContainer {
    margin-left: 250px;
}

.deskDesc {
    display: none;
}

.userDesks {
    margin-left: 10px;
    height: 540px;
}

.selectedDesk {
    font-size: large;
    color: blue;
}

.deskItem {
    border-bottom: 1px solid #000;
    cursor: pointer;
    margin-bottom: 5px;
}

.deskItemTemplate {
    display: none;
}
.noteItemTemplate {
    display: none;
}

.hideNoteClass {
    display: none;
}
