#shell {
	margin:auto;
}

* {
	font-family:helvetica, Arial;
}


#content {

}

#options{
	float:right;
	margin-top: 5px;
	margin-right:8px;
}

#header{
	height:82px;
	margin-left:8px;
}

#header h1{
	float:left;
}
