#{extends 'main.html' /}
#{set title:'JigSawNotes' /}
#{set 'moreStyles'}
       <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/desk.css'}">
#{/set}
#{set 'moreScripts'}
       <script src="@{'/public/javascripts/userDeskController.js'}" type="text/javascript" charset="utf-8"></script>
       <script src="@{'/public/javascripts/deskContext.js'}" type="text/javascript" charset="utf-8"></script>
       <script src="@{'/public/javascripts/NoteContext.js'}" type="text/javascript" charset="utf-8"></script>
       <script src="@{'/public/javascripts/Desk.js'}" type="text/javascript" charset="utf-8"></script>
       <script src="@{'/public/javascripts/NotesController.js'}" type="text/javascript" charset="utf-8"></script>
       <script src="@{'/public/javascripts/Note.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<div class="deskContainer" id="deskContainer">
    <div id="deskContainerHeader">
        <span id="deskContainerTitle"></span>
        <span id="deskCounter"></span>
    </div>
    <div id="deskPanel">
        <div class="deskItem deskItemTemplate">
            <span class="deskName"></span>
            <span class="deskDesc"></span>
        </div>
    </div>
</div>

<div class="notesContainer" id="notesContainer">
    <button id="newNoteBtn" class="newNodeBtn">Add New Note</button>
    <div class="deskNote noteItemTemplate">
        <div class="noteHeader">
            <div class="noteTitle" contenteditable="true"></div>
            <div class="noteCloseButton"></div>
        </div>
        <div class="noteBody" contenteditable="true">
        </div>
        <div class="noteTimeStamp">
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    userDesk.init();
    
});
</script>
